<div class="jumbotron">
	<div class="row">
	<div class="col-lg-4">
		<h1>Welcome!</h1>
		<p>Puzzle Warfare is the easy to learn, hard to master game of historical conquest played out through puzzles. You must be logged in (click to sign in or sign up at top-right), in order to save the your game-state.</p>
		<% if !user_signed_in? %>
			<a href="#" class="btn btn-primary">Play as guest</a>
		<% else %>
			<h3 class="notice"><%= notice %></h3>
			<p>You have <%= current_user.armies.count %> armies.</p>
			<%= link_to "View My Armies", armies_path, { class: "btn btn-primary btn-large" } %>
		<% end %>
	</div>
	<div class="col-lg-6 col-lg-offset-2">
		<%= image_tag("/assets/gburg_promo.jpg", {class: "img-rounded"} ) %> 
		<p><small>Can you take the place of R.E. Lee, and break the Federal lines at Gettysburg? Prizes this weekend only for the highest scores!</small></p>
	</div>
	</div>
</div>

<div class="container">
	<legend>Play one of the following campaigns:</legend>
	<ul class="list-unstyled">
	<% @eras.each do |era| %>
		<li class="col-lg-4">
			<div class="thumbnail">
				<img class="img-rounded img-responsive" data-src="holder.js/360x200" alt="">
				<div class="caption">
					<h3><%= era.name %></h3>
					<p><%= era.description %></p>
					<p><%= link_to 'start new game', new_army_path, { class: "btn btn-primary btn-lg btn-block" } %></p>
				</div>
			</div>
		</li>
	<% end %>
	</ul>
</div>
